* {
  color: #09246c;

}
body {
  /* margin-top: 200px; */
font-family: sans-serif !important;
}

h3{
  font-weight: bold !important;
  font-size: 26px !important;
}

h1{
  font-size: 40px !important; 
  line-height: 1.2em
}

p{
    line-height: 1.5em;
    font-size: 16px;
}

.text-muted{ 
 font-size: 0.7rem;
}

.top {
  background-color: #09246c;

}

.nav-link {
  color: #09246c !important;
}

.nav-link.active {
  color: #09246c !important;
  font-weight: bold;
}
 .logo{
  width: 120px;
 }


 @media (max-width: 768px) {
  .text-muted{ 
  font-size: 1rem;
}
 }

@media (max-width: 768px) {
  .logo{
  width: 80px;
 }

 h3{
  font-size: 20px !important;
  padding:10px 0;
}


h1{
  font-size: 25px !important; 
  
}

.text-muted{ 
  font-size: 0.6rem;
}
}
